.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 100px;
    right: 10px;
    background: #fcff19;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #0000ff;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-right: 140px;
    font-size: 28px;
    padding: 0px 10px;
}
